.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo-cont {
  flex: 1;
  display: flex;
  justify-content: center;
}

.main-cont {
  flex: 6;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.icon {
  width: 10vw;
}

.spin {
  animation: logo-spin infinite 40s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar,
.new-election-jumbo {
  /* background-color: #ff0079; */
  margin-bottom: 0px;
}

.check-boxes {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 20%;
}

.new-election-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.new-election-title {
}
