.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
}

.logo-cont {
  flex: 1;
  display: flex;
  justify-content: center;
}

.main-cont {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.icon {
  width: 10vw;
}

.small-icon {
  width: 20px;
}

.tiny-icon {
  width: 15px;
}

.logo {
  width: 90px;
}

.spin {
  animation: logo-spin infinite 50s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar,
.new-election-jumbo,
.jumbo {
  /* background-color: #ff0079; */
  margin-bottom: 0px;
}

.check-boxes {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.owned {
  background-color: #ff0079;
}

.not-owned {
  /* background-color: #1067b8; */
}

.alert-bar {
  display: flex;
}

.alert {
  flex: 1;
  margin-bottom: 0px;
}

.new-election-header,
.jumbo-outer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.new-election-title,
.title {
  flex: 3;
  padding: 2vw;
}

.new-election-logo,
.icon-cont {
  flex: 1;
}

.new-election-form {
  text-align: left;
  padding: 5vw;
}

.pad {
  padding: 5vw;
}

.time {
  width: 90px;
}

.candidates-cont {
  display: flex;
}
.cand-inner {
  width: 50%;
}

.table-int {
  width: 20%;
}

.center {
  align-items: center;
}

.table {
  text-align: left;
}
