.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo-cont {
  flex: 1;
  display: flex;
  justify-content: center;
}

.main-cont {
  flex: 6;
}

.loading-icon {
  width: 90px;
  animation: logo-spin infinite 40s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  /* background-color: #ff0079; */
}
